<p id="notice"></p>
<div class="container">
 <div class="row">

<h4 class="col-md-5">新規会員登録</h4>

 </div>
</div>

<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<div class="container">
 <div class="row">
  <div class="col-md-8 mx-auto">

   <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>
  
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class: "btn btn-success" %>
  </div>
<% end %>

  </div>
 </div>
</div>

<div class="container">
 <div class="row">
<h6 class="col-md-5">既に登録済みの方</h6>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-md-5 mx-auto">
  <P>
    <%= link_to "こちら", new_customer_session_path %>からログインしてください。
  </P>
  </div>
 </div>
</div>

